<div class="nav1">
    <a href="/home">
    <div class="nav-header">
            <img src="/logo.png" alt="">
        </div>
    </a>

    <div class="links">
        <a href="/home" class="<%= currentPath =='/home' ? 'active' : 'non-active' %>">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
                <path
                    d="M23.951172 4 A 1.50015 1.50015 0 0 0 23.070312 4.3222656L8.8730469 15.521484C7.0935305 16.919676 6 19.100391 6 21.400391L6 40.5C6 41.133333 6.2367979 41.80711 6.7148438 42.285156C7.1928895 42.763202 7.8666667 43 8.5 43L18.5 43C19.133333 43 19.80711 42.763202 20.285156 42.285156C20.763202 41.80711 21 41.133333 21 40.5L21 30.5C21 30.218182 21.218182 30 21.5 30L26.5 30C26.781818 30 27 30.218182 27 30.5L27 40.5C27 41.133333 27.236798 41.80711 27.714844 42.285156C28.19289 42.763202 28.866667 43 29.5 43L39.5 43C40.133333 43 40.80711 42.763202 41.285156 42.285156C41.763202 41.80711 42 41.133333 42 40.5L42 21.400391C42 19.155946 41.012069 16.901298 39.087891 15.490234L24.929688 4.3222656 A 1.50015 1.50015 0 0 0 23.951172 4 z M 24 7.4101562L37.271484 17.876953 A 1.50015 1.50015 0 0 0 37.3125 17.910156C38.388318 18.699095 39 20.044835 39 21.400391L39 40L30 40L30 30.5C30 28.581818 28.418182 27 26.5 27L21.5 27C19.581818 27 18 28.581818 18 30.5L18 40L9 40L9 21.400391C9 20.100391 9.7060794 18.680715 10.726562 17.878906 A 1.50015 1.50015 0 0 0 10.728516 17.876953L24 7.4101562 z" />
            </svg>
            home</a>
        <a href="/about" class="<%= currentPath =='/about' ? 'active' : 'non-active' %>" ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path
                    d="M4.0097656 3C2.9179106 3 2.0097656 3.9049841 2.0097656 4.9980469L2 23L6 19L20 19C21.093063 19 22 18.093063 22 17L22 5C22 3.9069372 21.093063 3 20 3L4.0097656 3 z M 4.0097656 5L20 5L20 17L5.171875 17L4.0039062 18.167969L4.0097656 5 z M 11 7L11 9L13 9L13 7L11 7 z M 11 11L11 15L13 15L13 11L11 11 z" />
            </svg>about</a>
        <a href="/create" class="<%= currentPath =='/create' ? 'active' : 'non-active' %>"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                viewBox="0 0 32 32">
                <path
                    d="M16 3C8.8321388 3 3 8.832144 3 16C3 23.167856 8.8321388 29 16 29C23.167861 29 29 23.167856 29 16C29 8.832144 23.167861 3 16 3 z M 16 5C22.086982 5 27 9.9130223 27 16C27 22.086978 22.086982 27 16 27C9.9130183 27 5 22.086978 5 16C5 9.9130223 9.9130183 5 16 5 z M 15 11L15 15L11 15L11 17L15 17L15 21L17 21L17 17L21 17L21 15L17 15L17 11L15 11 z" />
            </svg>add activities</a>
            <form action="/auth/logout" method="post">
                <a>
                    <button>
                        logout
                    </button>
                </a>
            </form>
    </div>
</div>

<div class="nav2">
    <a href="/home">
    <div class="nav-header">
            <img src="/logo.png" alt="">
        </div>
    </a>

    <div class="links">
        <a href="/home" class="<%= currentPath =='/home' ? 'active' : 'non-active' %>">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
                <path
                    d="M23.951172 4 A 1.50015 1.50015 0 0 0 23.070312 4.3222656L8.8730469 15.521484C7.0935305 16.919676 6 19.100391 6 21.400391L6 40.5C6 41.133333 6.2367979 41.80711 6.7148438 42.285156C7.1928895 42.763202 7.8666667 43 8.5 43L18.5 43C19.133333 43 19.80711 42.763202 20.285156 42.285156C20.763202 41.80711 21 41.133333 21 40.5L21 30.5C21 30.218182 21.218182 30 21.5 30L26.5 30C26.781818 30 27 30.218182 27 30.5L27 40.5C27 41.133333 27.236798 41.80711 27.714844 42.285156C28.19289 42.763202 28.866667 43 29.5 43L39.5 43C40.133333 43 40.80711 42.763202 41.285156 42.285156C41.763202 41.80711 42 41.133333 42 40.5L42 21.400391C42 19.155946 41.012069 16.901298 39.087891 15.490234L24.929688 4.3222656 A 1.50015 1.50015 0 0 0 23.951172 4 z M 24 7.4101562L37.271484 17.876953 A 1.50015 1.50015 0 0 0 37.3125 17.910156C38.388318 18.699095 39 20.044835 39 21.400391L39 40L30 40L30 30.5C30 28.581818 28.418182 27 26.5 27L21.5 27C19.581818 27 18 28.581818 18 30.5L18 40L9 40L9 21.400391C9 20.100391 9.7060794 18.680715 10.726562 17.878906 A 1.50015 1.50015 0 0 0 10.728516 17.876953L24 7.4101562 z" />
            </svg>
            home</a>
        <a href="/about" class="<%= currentPath =='/about' ? 'active' : 'non-active' %>" ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path
                    d="M4.0097656 3C2.9179106 3 2.0097656 3.9049841 2.0097656 4.9980469L2 23L6 19L20 19C21.093063 19 22 18.093063 22 17L22 5C22 3.9069372 21.093063 3 20 3L4.0097656 3 z M 4.0097656 5L20 5L20 17L5.171875 17L4.0039062 18.167969L4.0097656 5 z M 11 7L11 9L13 9L13 7L11 7 z M 11 11L11 15L13 15L13 11L11 11 z" />
            </svg>about</a>
        <a href="/create" class="<%= currentPath =='/create' ? 'active' : 'non-active' %>"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                viewBox="0 0 32 32">
                <path
                    d="M16 3C8.8321388 3 3 8.832144 3 16C3 23.167856 8.8321388 29 16 29C23.167861 29 29 23.167856 29 16C29 8.832144 23.167861 3 16 3 z M 16 5C22.086982 5 27 9.9130223 27 16C27 22.086978 22.086982 27 16 27C9.9130183 27 5 22.086978 5 16C5 9.9130223 9.9130183 5 16 5 z M 15 11L15 15L11 15L11 17L15 17L15 21L17 21L17 17L21 17L21 15L17 15L17 11L15 11 z" />
            </svg>add activities</a>
            <form action="/auth/logout" method="post">
                <a>
                    <button>
                        logout
                    </button>
                </a>
            </form>
    </div>

    <div class="menu2">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30">
            <path d="M3 7 A 1.0001 1.0001 0 1 0 3 9L27 9 A 1.0001 1.0001 0 1 0 27 7L3 7 z M 3 14 A 1.0001 1.0001 0 1 0 3 16L27 16 A 1.0001 1.0001 0 1 0 27 14L3 14 z M 3 21 A 1.0001 1.0001 0 1 0 3 23L27 23 A 1.0001 1.0001 0 1 0 27 21L3 21 z" />
          </svg>
    </div>


    <div class="links-2  ">
        <a href="/home" class="<%= currentPath =='/home' ? 'active' : 'non-active' %>">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
                <path
                    d="M23.951172 4 A 1.50015 1.50015 0 0 0 23.070312 4.3222656L8.8730469 15.521484C7.0935305 16.919676 6 19.100391 6 21.400391L6 40.5C6 41.133333 6.2367979 41.80711 6.7148438 42.285156C7.1928895 42.763202 7.8666667 43 8.5 43L18.5 43C19.133333 43 19.80711 42.763202 20.285156 42.285156C20.763202 41.80711 21 41.133333 21 40.5L21 30.5C21 30.218182 21.218182 30 21.5 30L26.5 30C26.781818 30 27 30.218182 27 30.5L27 40.5C27 41.133333 27.236798 41.80711 27.714844 42.285156C28.19289 42.763202 28.866667 43 29.5 43L39.5 43C40.133333 43 40.80711 42.763202 41.285156 42.285156C41.763202 41.80711 42 41.133333 42 40.5L42 21.400391C42 19.155946 41.012069 16.901298 39.087891 15.490234L24.929688 4.3222656 A 1.50015 1.50015 0 0 0 23.951172 4 z M 24 7.4101562L37.271484 17.876953 A 1.50015 1.50015 0 0 0 37.3125 17.910156C38.388318 18.699095 39 20.044835 39 21.400391L39 40L30 40L30 30.5C30 28.581818 28.418182 27 26.5 27L21.5 27C19.581818 27 18 28.581818 18 30.5L18 40L9 40L9 21.400391C9 20.100391 9.7060794 18.680715 10.726562 17.878906 A 1.50015 1.50015 0 0 0 10.728516 17.876953L24 7.4101562 z" />
            </svg>
            home</a>
        <a href="/about" class="<%= currentPath =='/about' ? 'active' : 'non-active' %>" ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path
                    d="M4.0097656 3C2.9179106 3 2.0097656 3.9049841 2.0097656 4.9980469L2 23L6 19L20 19C21.093063 19 22 18.093063 22 17L22 5C22 3.9069372 21.093063 3 20 3L4.0097656 3 z M 4.0097656 5L20 5L20 17L5.171875 17L4.0039062 18.167969L4.0097656 5 z M 11 7L11 9L13 9L13 7L11 7 z M 11 11L11 15L13 15L13 11L11 11 z" />
            </svg>about</a>
        <a href="/create" class="<%= currentPath =='/create' ? 'active' : 'non-active' %>"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                viewBox="0 0 32 32">
                <path
                    d="M16 3C8.8321388 3 3 8.832144 3 16C3 23.167856 8.8321388 29 16 29C23.167861 29 29 23.167856 29 16C29 8.832144 23.167861 3 16 3 z M 16 5C22.086982 5 27 9.9130223 27 16C27 22.086978 22.086982 27 16 27C9.9130183 27 5 22.086978 5 16C5 9.9130223 9.9130183 5 16 5 z M 15 11L15 15L11 15L11 17L15 17L15 21L17 21L17 17L21 17L21 15L17 15L17 11L15 11 z" />
            </svg>add activities</a>
            <form action="/auth/logout" method="post">
                <a>
                    <button>
                        logout
                    </button>
                </a>
            </form>
    </div>

    
</div>






